.pagination {
  margin: 1rem;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border: 3px solid red;

  li {
    padding: 5px 10px;
    border: 3px solid red;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 2px;

    &:hover,
    &.active {
      background-color: darkred;
      color: #f0f0f0;
    }
  }
}
