.single_video {
  margin-top: 4rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 65% 33%;
  grid-gap: 1rem;

  // media
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .video {
    align-self: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    .video_info {
      padding: 10px;

      .options {
        p.time_and_views {
          margin-top: 5px;
          font-size: 12px;
        }

        display: flex;
        justify-content: space-between;

        .handlers {
          font-size: 14px;

          p {
            display: flex;
            align-items: center;

            #icon {
              font-size: 1rem;
              margin-left: 10px;
            }
          }
        }
      }

      // description
      .desc {
        margin-top: 1rem;
      }
    }
  }
}
