.videos_compo {
  margin: 1rem;
  margin-top: 5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  cursor: pointer;

  // for side bar options
  &.options {
    margin: 0;
  }

  .video_card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;

    .content {
      padding: 10px;

      .info {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
}
